mixin mainNavList
    a(href="#") Estadística 
    a(href="#") Antecedentes  
    a(href="./cronograma.html") Cronograma y ruta  
    a(href="./contacto.html") Contacto

mixin socialNetworks(insta, facebook, twitter, youtube)
    .ssnn-list
        a(href=""+insta): i.fa-brands.fa-instagram
        a(href=""+facebook): i.fa-brands.fa-facebook-square
        a(href=""+twitter): i.fa-brands.fa-twitter-square
        a(href=""+youtube): i.fa-brands.fa-youtube-square

mixin funInputs(idHolder,placeholder_txt,replaceTxtWith, labelText,icon,inputType)
    .form-input(id=idHolder+'__box', data-funinput-replacetext=replaceTxtWith, data-funinput-type=inputType)
        span.top-input-text= labelText

        if inputType == null
            input(id=idHolder, type="text", name=idHolder, placeholder=placeholder_txt)
        if inputType == "date" 
            .form-floating(class=idHolder)
                input(type="text", id="datepicker1", required, placeholder=placeholder_txt,autocomplete="bday").datepicker_input.form-control          
        i(class=icon)

mixin userlist(user_name)
    .item 
        .item__title
            span #{user_name}
        .item__address
            i.fa-solid.fa-location-dot
            span.desc región occidental

mixin breadcrumbs(pages)
    nav(aria-label="breadcrumb", style="--bs-breadcrumb-divider: '|';")
            ol.breadcrumb
                li.breadcrumb-item: a(href="#"): i.fa-solid.fa-house
                li(aria-current="page").breadcrumb-item.active #{pages}

mixin contacus-card(icon,title,desc,email)
    .contact-cards 
        .contact-cards__icon
            i(class=icon)
        .contact-cards__info
            .title #{title}
            .desc #{desc} 
                span: a(href="mailto:#{email}") #{email}

mixin subnav(title,link)
    .subnav
        .container 
            .row 
                .col
                    .home-btn 
                        a(href=link)
                            span #{title} 
                            i.fa-solid.fa-house