mixin mainNavList(current_page)
    if(current_page == "estadisticas")      
        a(href="./estadistica.html").current-page Estadística
    else    
        a(href="./estadistica.html") Estadística

    if(current_page == "antecedentes")      
        a(href="./antecedentes.html").current-page Antecedentes
    else    
        a(href="./antecedentes.html") Antecedentes

    if(current_page == "route")      
        a(href="./cronograma.html").current-page Cronograma y ruta
    else    
        a(href="./cronograma.html") Cronograma y ruta

    if(current_page == "contactus")      
        a(href="./contacto.html").current-page Contacto
    else    
        a(href="./contacto.html") Contacto


mixin socialNetworks(insta, facebook, twitter, youtube)
    .ssnn-list
        a(href=""+insta aria-label="Instagram"): i.fa-brands.fa-instagram
        a(href=""+facebook aria-label="Facebook"): i.fa-brands.fa-facebook-square
        a(href=""+twitter aria-label="Twitter"): i.fa-brands.fa-twitter-square
        a(href=""+youtube aria-label="Youtube"): i.fa-brands.fa-youtube-square

mixin funInputs(idHolder,placeholder_txt,replaceTxtWith, labelText,icon,inputType)
    .form-input(id=idHolder+'__box', data-funinput-replacetext=replaceTxtWith, data-funinput-type=inputType)
        span.top-input-text= labelText

        if inputType == null
            input(id=idHolder, type="text", name=idHolder, placeholder=placeholder_txt)
        if inputType == "date" 
            .form-floating(class=idHolder)
                input(type="text" id="datepicker1", required, placeholder=placeholder_txt,autocomplete="bday").datepicker_input.form-control          
        i(class=icon)

mixin userlist(user_name)
    .item 
        .item__title
            span #{user_name}
        .item__address
            i.fa-solid.fa-location-dot
            span.desc región occidental

mixin breadcrumbs(pages,list)
    .container 
        .row 
            .col
                nav(aria-label="breadcrumb" style="--bs-breadcrumb-divider: '|';")
                    ol.breadcrumb
                        li.breadcrumb-item: a(href="./index.html" aria-label="Inicio"): i.fa-solid.fa-house
                        if list == true 
                            each item in pages 
                                if(item.current == true)
                                    //- current page
                                    if(item.data_attr == true)
                                        //- check if a data-attr selector is active
                                        li(aria-current="page1" data-dynamic-province="true").breadcrumb-item.active=item.page_name
                                    else 
                                        li(aria-current="pages").breadcrumb-item.active=item.page_name
                                else 
                                    li.breadcrumb-item
                                        a(href=item.href)=item.page_name
                        else 
                            li(aria-current="page").breadcrumb-item.active #{pages}


mixin contacus-card(icon,title,desc,email)
    .contact-cards 
        .contact-cards__icon
            img(src="./images/"+icon, alt="Icono de "+title)
        .contact-cards__info
            .title #{title}
            .desc #{desc} 
                span: a(href="mailto:"+email) #{email}

mixin subnav(title,link)
    .subnav
        .container 
            .row 
                .col
                    .home-btn 
                        a(href=link)
                            span #{title} 
                            i.fa-solid.fa-house

mixin articles(data)

    each item in data
        .col-12.col-md-4
            article 
                a(href="#" data-bs-toggle="modal" data-bs-target="#article_"+item.id)
                    picture 
                        img(src="./images/articles/"+item.imagen, alt="Imagen de artículo "+item.id)
                section.content 
                    a(href="#" data-bs-toggle="modal" data-bs-target="#article_"+item.id)
                        h2 #{item.title}
                        span: p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus ut nulla sed amet ante. Consequat massa.
                    .tag-list 
                        .tag-list__item.main-btn Tag Name
                        .tag-list__item.secondary-btn Tag Name

mixin article_modal(data)
    each item in data
        .modal(data-bs-keyboard="false" tabindex="-1" aria-hidden="true" id="article_"+item.id).fade
            .modal-dialog.modal-dialog-centered.modal-lg.modal-fullscreen-sm-down
                .modal-content 
                    .modal-header
                        button(type="button" data-bs-dismiss="modal" aria-label="Close").btn-close
                    .modal-body.modal-article-content
                        .container-fluid 
                            .row 
                                .col-12.col-md-4 
                                    picture: img(src="./images/articles/"+item.imagen, alt=item.image_alt)
                                .col-12.col-md-7.modal-article
                                    .row 
                                        .col.mt-3.mt-md-0.mb-5
                                            h3 #{item.title}
                                            .modal-article__desc #{item.full_desc}
                                    .row 
                                        .col 
                                            .d-grid.modal-article__button
                                                a(href="#" role="button").btn.btn-warning 
                                                    i.fa-solid.fa-download
                                                    p Descargar 
                                        .col-12 
                                            .tag-list 
                                                .tag-list__item.main-btn Tag Name
                                                .tag-list__item.secondary-btn Tag Name
                    //- .modal-footer 

mixin accordion(accordion_name,data)
    .accordion(id=accordion_name).province-preview-stats
        each item in data
            .accordion-item
                h2(id="heading"+item.name).accordion-header
                    button(type="button" data-bs-toggle="collapse" data-bs-target="#collapse"+item.name, aria-expanded="false" aria-controls="collapse"+item.name).accordion-button.collapsed=item.title
                .accordion-collapse.collapse(id="collapse"+item.name, aria-labelledby="heading"+item.name, data-bs-parent="#"+accordion_name)
                    .accordion-body
                        picture 
                            img(src="./images/panama-map__"+item.name+".svg" alt="Mapa de la provincia de "+item.title)
                        .province-data 
                            .province-data__stats
                                .icon: i.fa-solid.fa-user-check
                                .users
                                    .users__number 182 
                                    .users__desc Registrados 
                            .province-data__stats
                                .icon: i.fa-regular.fa-comments
                                .users
                                    .users__number 1753 
                                    .users__desc Opiniones + Nuevas lineas
                        .province-cta.mt-5.mb-5
                            .cta.d-grid.mx-auto
                                a(href="./estadistica-en-detalle-por-provincia.html?province="+item.title, role="button").btn.btn-primary Ver detalle

mixin mapModals(data)
    each province in data 
        .modal(data-bs-keyboard="false" tabindex="-1",aria-labelledby=province.pid+"ModalLabel" aria-hidden="true" id="modal_"+province.pid).fade.province-preview-stats
            .modal-dialog.modal-dialog-centered.modal-md
                .modal-content
                    .modal-header
                        h5(id=province.pid+"ModalLabel").modal-title #{province.provinceName}
                        button(type="button" data-bs-dismiss="modal" aria-label="Close").btn-close
                    .modal-body.modal-article-content
                        .container-fluid 
                            .row
                                .col-12
                                    picture
                                        img(src="./images/panama-map__"+province.pid+".svg" alt="Mapa de la provincia de "+province.provinceName)
                                    .province-data 
                                        .province-data__stats
                                            .icon: i.fa-solid.fa-user-check
                                            .users
                                                .users__number 182 
                                                .users__desc Registrados 
                                        .province-data__stats
                                            .icon: i.fa-regular.fa-comments
                                            .users
                                                .users__number 1753 
                                                .users__desc Opiniones + Nuevas lineas
                                    .province-cta.mt-5.mb-5
                                        .cta.d-grid.mx-auto
                                            a(href="./estadistica-en-detalle-por-provincia.html?province="+province.pid+"&pname="+province.provinceName, role="button").btn.btn-primary Ver detalle

mixin opinionCategories(categories)
    each item in categories
        a#cat-list-item.category-list__item(data-catname="cat_"+item.id)
            picture 
                img(src="./images/topics/"+item.image, alt="Icono representando "+item.name+" como eje central de su opinión")
            p #{item.name}
